<!-- partials/footer.ejs -->
<footer class="footer-section">
<div class="container">
    <div class="footer-content">
    <div class="footer-logo">
        <h2>InKspire</h2>
        <p>Share your stories with the world</p>
    </div>
    
    <div class="footer-links">
        <div class="footer-column">
        <h4>Explore</h4>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#latest-posts">Latest Posts</a></li>
            <li><a href="/create">Write a Post</a></li>
        </ul>
        </div>
        
        <div class="footer-column">
        <h4>Account</h4>
        <ul>
            <li><a href="/user/login">Login</a></li>
            <li><a href="/user/signup">Register</a></li>
        </ul>
        </div>
        
        <div class="footer-column">
        <h4>Contact</h4>
        <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Privacy Policy</a></li>
        </ul>
        </div>
    </div>
    </div>
    
    <div class="footer-bottom">
    <p>&copy; <%= new Date().getFullYear() %> InKspire. All rights reserved.</p>
    <div class="social-icons">
        <a href="#" class="social-icon"><i class="fa fa-facebook"></i></a>
        <a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
        <a href="#" class="social-icon"><i class="fa fa-instagram"></i></a>
    </div>
    </div>
</div>
</footer>