<!-- Preloader -->
<div id="preloader">
    <div class="loader-container">
        <div class="brand-loader">
        <i class="bi bi-journal-richtext"></i>
        <span>InKspire</span>
        </div>
        <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
        </div>
        <p class="loading-text">Loading...</p>
    </div>
    </div>