<!-- Preloader -->
<div id="preloader">
    <div class="loader-container">
      <div class="brand-loader">
        <i class="bi bi-journal-richtext"></i>
        <span>InKspire</span>
      </div>
      <div class="spinner"></div>
      <p class="loading-text">Loading...</p>
    </div>
</div>
  